<strong>Olá, {{ deliverer }}</strong>
<p>Uma encomenda foi cadastrada para você em {{ date }}</p>
<p>
    <strong>Produto: </strong> {{ product }}<br/>
    <br/>
    <strong>Destinatário: </strong> {{ recipient }}<br/>
    <br/>
    <strong>Endereço: </strong> <br/>
    <p>{{ address }}</p>
    <p>{{ place }}</p>
    <p>{{ zip }}</p>
    <small>
        As retiradas só podem ser feitas entre as 08:00 e 18:00
    </small>
</p>
